{
  "task_details": {
    "keywords": "Tee",
    "color": "",
    "size": "Large",
    "proxy": "",
    "show_browser": false
  },
  "contact_details": {
    "email": "johndoe@example.com"
  },
  "delivery_address": {
    "first_name": "John",
    "last_name": "Doe",
    "address": "123 Example Street",
    "apt_suite_etc": "Apt. 4B",
    "country_code": "IT",
    "postal_code": "35020",
    "city": "Brugine",
    "province_code": "PD",
    "phone": "3921234567"
  },
  "payment_details": {
    "name_on_card": "John Doe",
    "card_number": "4242424242424242",
    "expiration_date": "12/25",
    "security_code": "123"
  }
}
